<input type="file" accept="image/*" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
   <p *ngIf="!file" >No file uploaded yet.</p>
    
    <button *ngIf="!url" mat-mini-fab color="primary" class="upload-btn content"
      (click)="fileUpload.click()">
        <mat-icon class="icon">fingerprint</mat-icon>
    </button>
    <div *ngIf="url" class="preview-image-outer">
      <img [src]="url" class="preview-image" (click)="fileUpload.click()"> 
    </div>
     
    
</div>
<div *ngIf="file" class="file-upload">
  <p>No file uploaded yet.</p>
   
   
  
</div>