<h1>{{title}}</h1>

<div cdkDropListGroup>
  <mat-accordion multi class="container">
    <h2>Available Modules</h2>

    <div
      cdkDropList
      [cdkDropListData]="items"
      class="list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)">
      <div class="accordion-box" *ngFor="let item of items" cdkDrag>
        <mat-expansion-panel class="panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>details</p>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-accordion>

  <mat-accordion class="vert-accordion">
    <mat-expansion-panel class="vert-accordion-panel" *ngFor="let phase of phases; first as isFirst" [expanded]="isFirst" cdkDrag>
      <mat-expansion-panel-header>
        <mat-panel-title class="vert-accordion-title">
          {{phase.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="vert-accordion-content">
        <h2>{{phase.title}}</h2>

        <div
          cdkDropList
          [cdkDropListData]="phase.modules"
          class="list"
          (cdkDropListDropped)="drop($event)">
          <div class="accordion-box" *ngFor="let module of phase.modules" cdkDrag>
            <mat-expansion-panel class="panel">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{module}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form class="container" [formGroup]="options">
                <section class="section">
                  <mat-checkbox appearance="fill" [formControl]="checkboxControl" ngDefaultControl>Checkbox</mat-checkbox>
                </section>
                
                <mat-form-field appearance="fill">
                  <mat-label>Color</mat-label>
                  <mat-select [formControl]="selectControl">
                    <mat-option value="primary">Primary</mat-option>
                    <mat-option value="accent">Accent</mat-option>
                    <mat-option value="warn">Warn</mat-option>
                  </mat-select>
                </mat-form-field>
              
                <mat-form-field appearance="fill">
                  <mat-label>Font size</mat-label>
                  <input matInput type="number" placeholder="Ex. 12" [formControl]="inputNumControl" min="10">
                  <span matSuffix>px</span>
                  <mat-error *ngIf="inputNumControl.invalid">Min size: 10px</mat-error>
                </mat-form-field>
              </form>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>  

  <div class="container">
    
</div>